<div class="container animated fade pt-4">
    <h2>About</h2>
    <hr>
    <div class="copy text-center container-fluid mt-4 mb-4 p-4">
        <h5 class="mt-2">No copyright infringement intended. This is for personal, non-commercial use.</h5>
        <h5>Intellectual property rights belong to <b>Home Box Office, Inc., David Benioff and D.B. Weiss.</b></h5>
        <h5 class="mt-4"> <b><i>Game of Thrones</i></b> is based on the novel series <b><i>A song of Ice and Fire</i></b> by <b>George R.R. Martin.</b></h5>
    </div>
    <p class="mt-4 mb-0 text-center p-4">
        I've made this application based on the first assignment from Fernando Herrera's <a href="https://www.udemy.com/angular-2-fernando-herrera/">Angular: De cero a experto creando aplicaciones</a> course on Udemy. 
        You can find the code at the following <a href="https://github.com/Grupphaus/angular-course-spa">repository</a>. All sources are (hopefully) credited and belong to their respective owners.
    </p>
    <div class="icons container-fluid text-center p-4">
        <i class="fab fa-html5 m-4"></i>
        <i class="fab fa-css3-alt m-4"></i>
        <i class="fab fa-js-square m-4"></i>
        <i class="fab fa-angular m-4"></i>
        <i class="fab fa-bootstrap m-4"></i>
        <i class="fab fa-font-awesome m-4"></i>
    </div>
</div>