<div class="container animated fade pt-4 mt-4">
  <h2>House Sigils</h2>
  <hr />
  <div class="card-group first-group mb-4">
      <div *ngFor="let house of this.houses1; let i = index" class="card">
        <a [routerLink]="['/house', i]">
          <img class="card-img-top" src="./../../../assets/{{house}}.jpg" alt="Card image cap" />
          <div class="card-footer">
            <small class="text-muted"><a href="https://www.flickr.com/photos/liquidsouldesign/"> GoT Houses </a> | by Thomas Gateley</small>
          </div>
        </a>
      </div>
  </div>
  <div class="card-group second-group mb-4">
    <div *ngFor="let house of this.houses2; let i = index" class="card">
      <img class="card-img-top" src="./../../../assets/{{house}}.jpg" alt="Card image cap" />
      <div class="card-footer">
        <small class="text-muted"><a href="https://www.flickr.com/photos/liquidsouldesign/"> GoT Houses </a> | by Thomas Gateley</small>
      </div>
    </div>
  </div>
  <div class="card-group third-group mb-4">
    <div *ngFor="let house of this.houses3; let i = index" class="card">
      <img class="card-img-top" src="./../../../assets/{{house}}.jpg" alt="Card image cap" />
      <div class="card-footer">
        <small class="text-muted"><a href="https://www.flickr.com/photos/liquidsouldesign/"> GoT Houses </a> | by Thomas Gateley</small>
      </div>
    </div>
  </div>
</div>
